# Chi-square test

The chi-square statistical test is used to determine whether there’s a significant difference between an expected distribution and an actual distribution. It’s typically used with categorical data such as educational attainment, colors, or gender.

In [1]:
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))

In [2]:
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from matplotlib import *
import sys
from pylab import *

In [3]:
import pandas as pd
pd.set_option('display.max_rows', 600)
pd.set_option('display.max_columns', 600)
pd.set_option('display.width', 1000)

In [4]:
df  = pd.read_csv ('adult_data.csv')

In [7]:
df.head()

   age           employer     zip   education  education_duration            marital_s          occupation satatus_in_family    race   gender  onside_hours         country income income2  income3  dummyCat
0   39          State-gov   77516   Bachelors                  13        Never-married        Adm-clerical     Not-in-family   White     Male            40   United-States  <=50K    less        0         0
1   50   Self-emp-not-inc   83311   Bachelors                  13   Married-civ-spouse     Exec-managerial           Husband   White     Male            13   United-States  <=50K    less        0         0
2   38            Private  215646     HS-grad                   9             Divorced   Handlers-cleaners     Not-in-family   White     Male            40   United-States  <=50K    less        0         1
3   53            Private  234721        11th                   7   Married-civ-spouse   Handlers-cleaners           Husband   Black     Male            40   United-States  <=50K    less        0         1
4   28            Private  338409   Bachelors                  13   Married-civ-spouse      Prof-specialty              Wife   Black   Female            40            Cuba  <=50K    less        0         0

In [8]:
import pandas as pd
import numpy as np
import scipy.stats as stats
from scipy.stats import chi2_contingency

In [17]:
class ChiSquare:
    def __init__(self, dataframe):
        self.df = dataframe
        self.p = None #P-Value
        self.chi2 = None #Chi Test Statistic
        self.dof = None
        
        self.dfObserved = None
        self.dfExpected = None
        
    def _print_chisquare_result(self, colX, alpha):
        result = ""
        if self.p<alpha:
            result="{0} is IMPORTANT for Prediction".format(colX)
        else:
            result="{0} is NOT an important predictor. (Discard {0} from model)".format(colX)

        print(result)
        
    def TestIndependence(self,colX,colY, alpha=0.05):
        X = self.df[colX].astype(str)
        Y = self.df[colY].astype(str)
        
        self.dfObserved = pd.crosstab(Y,X) 
        chi2, p, dof, expected = stats.chi2_contingency(self.dfObserved.values)
        self.p = p
        self.chi2 = chi2
        self.dof = dof 
        
        self.dfExpected = pd.DataFrame(expected, columns=self.dfObserved.columns, index = self.dfObserved.index)
        
        self._print_chisquare_result(colX,alpha)

In [18]:
df = pd.pandas.read_csv("adult_data.csv")
df['dummyCat'] = np.random.choice([0, 1], size=(len(df),), p=[0.5, 0.5])

#Initialize ChiSquare Class
cT = ChiSquare(df)

#Feature Selection
testColumns = ['education','marital_s','race','gender','onside_hours','dummyCat']
for var in testColumns:
    cT.TestIndependence(colX=var,colY="income2" )

education is IMPORTANT for Prediction
marital_s is IMPORTANT for Prediction
race is IMPORTANT for Prediction
gender is IMPORTANT for Prediction
onside_hours is IMPORTANT for Prediction
dummyCat is NOT an important predictor. (Discard dummyCat from model)